.imagen{ 
    background-image: url(../img/section-woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 86vh;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    left: 50%;
    right: 50%;
    position: relative;
    overflow-x: hidden;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-productos {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 30px;
}

/* CONTENEDOR FILTROS - IZQ*/

.contenedor-filtros {
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 15px;
    width: 330px;
    margin-right: 15px;
    padding: 15px;
    padding-top: 35px;
}

/* ORDENAR y FILTROS  */

.contenedor-ordenar form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor-ordenar form select {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}

.contenedor-ordenar form select:focus {
    outline: none;
    border: none;
}

.contenedor-ordenar form input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #d7dbdc;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.contenedor-ordenar form input:hover {
    transform: scale(1.0);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

select {
    border-radius: 30px;
    padding: 10px;
    color: #333;
    border: 1px solid #ccc;
    font-size: 14px;
}

.checkbox-precios {
    display: flex;
    flex-direction: column;
}

.checkbox-precios h4 {
    padding: 0;
    margin: 0;
    padding-top: 45px;
}

.checkbox-precios h5 {
    padding: 15px 0px;
    margin: 0;
}

.contenedor-checkbox {
    line-height: 25px;
}

.contenedor-checkbox input[type="checkbox"]:hover {
    cursor: pointer;
}

.colores-tenis p {
    font-size: 10px;
    font-weight: bold;
}

.contenedor-colores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

#red {
    background-color: red;
    border: 1px solid rgb(177, 6, 6);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#blue {
    background-color: blue;
    border: 1px solid rgb(12, 12, 163);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#yellow {
    background-color: yellow;
    border: 1px solid rgb(161, 161, 6);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
}

#green {
    background-color: green;
    border: 1px solid rgb(3, 62, 3);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#red:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#blue:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#yellow:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#green:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* CONTENEDOR TENIS - DER*/

.contenedor-tenis {
    width: 100%;
    border: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

/* TENIS */

.tenis {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease;
    margin: 25px;
    margin-top: 0;
}

.tenis:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid rgb(201, 196, 196);
    cursor: pointer;
}

.img-tenis {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #f5f5f5;
    padding: 10px;
    transition: transform 0.3s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.texto-tenis {
    padding: 0px 5px 10px 10px;
    text-align: left;
}

.tenis h3 {
    text-align: center;
    font-size: 16px;
}

.tenis p {
    font-size: 14px;
}

.comprar-tenis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.comprar-tenis span {
    font-size: 13px;
    color: #8b8888;
    font-weight: bold;
}

.comprar-tenis input {
    border: none;
    border-radius: 10px;
    padding: 6px;
    margin: 15px auto 10px auto;
    background-color: #0097A7;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    width: 210px;
    height: 30px;
}

.comprar-tenis input:hover {
    background-color: #FFC107;
    color: black;
    cursor: pointer;
}


/* Contenedor Botones */
.boton-paginas {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 100%;
}

.boton-num {
    padding: 10px;
    padding-inline: 15px;
    border-radius: 80px;
    font-weight: bold;
    transition: transform 0.2s ease;
    background-color: #edecec;
}

.boton-num:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: scale(1.03);
}

.boton-paginas a {
    text-decoration: none;
    color: black;
}
